/* COMPOSANT FORMULAIRE */
.form {
  border: solid red 2px;
  margin: 5% auto;
  padding: 5%;
  width: 100%;
  background-color: #F3976C;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 901px) {
    .form {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
      transform: translateY(0) scale(1);
      transition: all 0.4s ease-in-out; }
      .form:hover {
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
        transform: translateY(-1rem) scale(1.05); } }
  @media screen and (min-width: 1201px) {
    .form {
      width: 100%; } }
  .form__info, .form__address {
    margin-bottom: 4rem; }
    .form__info--legend, .form__address--legend {
      margin-bottom: 1rem;
      font-family: 'fontleroybrownregular', cursive;
      font-size: 3.5rem;
      line-height: 1.5; }
    .form__info label, .form__address label {
      font-size: 2rem;
      line-height: 1.5; }
    .form__info input, .form__address input {
      margin-bottom: 2rem;
      padding: 2%;
      width: 100%;
      height: 3%;
      background-color: #FEFDA8;
      border: 1px inset #FEFDA8;
      transition: all 0.4s ease-in-out; }
      .form__info input:hover, .form__address input:hover {
        border: 1px solid #F3976C; }
