/* COMPOSANT TABLE */
.table {
  margin: 3rem auto;
  width: 90%;
  transform: translateY(0) scale(1);
  transition: all 0.4s ease-in-out; }
  .table:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
    transform: translateY(-1rem) scale(1.05); }
  .table__caption {
    margin-bottom: 1rem;
    width: 100%;
    font-family: 'robotoregular', cursive;
    font-size: 2.1rem;
    font-weight: bold; }
  .table__head--title, .table__head--content, .table__body--title, .table__body--content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-left: solid 0.1rem #F3976C;
    font-family: 'robotoregular', cursive;
    font-size: 1.2rem; }
    @media screen and (max-width: 580px) {
      .table__head--title, .table__head--content, .table__body--title, .table__body--content {
        font-size: 0.9rem; } }
    .table__head--title th, .table__head--title td, .table__head--content th, .table__head--content td, .table__body--title th, .table__body--title td, .table__body--content th, .table__body--content td {
      padding: 1.3rem;
      width: calc(100% / 4);
      text-align: center;
      border-right: solid 0.1rem #F3976C;
      border-bottom: solid 0.1rem #F3976C; }
  .table__head--title, .table__body--title {
    font-family: 'robotoregular', cursive;
    color: #fff;
    background-color: #d6210d;
    border-top: solid 0.1rem #F3976C; }
  .table__head--content, .table__body--content {
    font-family: 'robotoregular', cursive;
    font-size: 1.2rem; }
    @media screen and (max-width: 580px) {
      .table__head--content, .table__body--content {
        font-size: 0.9rem; } }

.table__body {
  background-color: #FEFDA8; }

.overflow {
  overflow: hidden; }

#totalMontant {
  font-weight: bold; }

.btn__panier {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2%;
  font-family: "JD Carnival Black", cursive;
  width: 70%; }
  @media screen and (max-width: 600px) {
    .btn__panier {
      font-size: 0.8rem; } }
