
@import "../utils/variables";

/* COMPOSANT BOUTTON */

.btn {
	text-align: center;
	padding: 2%;
	width: 80%;
	font-family: "Kalam-Light", cursive;
	font-size: 2rem;
	color: $color-base-bg;
	background-color: $color-btn-bg;
	border: 0.1rem solid $color-btn-bg;
	border-radius: 6rem;
	cursor: pointer;
	transform: $transform;
	transition: all $duration ease-in-out;
	&:hover {
		border: 0.1rem outset $color-btn-bg;
		transform: $transform-hover;
	}
	@media screen and (min-width: $breakpoint-small) {
		width: 60%;

	}
	&:hover {
		background-color: $color-btn-bg-hover;
	}
}
