
@import "../utils/variables";

/* COMPOSANT FORMULAIRE */

.form {
	border: solid red 2px;
	margin: 5% auto;
	padding: 5%;
	width: 100%;
	background-color: $color-confirmation-bg;
	box-shadow: $box-shadow-hover;
	@media screen and (min-width: $breakpoint-medium) {
		box-shadow: $box-shadow;
		transform: $transform;
		transition: all $duration ease-in-out;
		&:hover {
			box-shadow: $box-shadow-hover;
			transform: $transform-hover;
		}
	}
	@media screen and (min-width: $breakpoint-large) {
		width: 100%;
	}
	&__info,
	&__address {
		margin-bottom: 4rem;
		&--legend {
			margin-bottom: 1rem;
			font-family: 'fontleroybrownregular', cursive;
			font-size: 3.5rem;
			line-height: 1.5;
		}
		& label {
			font-size: 2rem;
			line-height: 1.5;
		}
		& input {
			margin-bottom: 2rem;
			padding: 2%;
			width: 100%;
			height: 3%;
			background-color: $color-article-bg;
			border: 1px inset $color-article-bg;
			transition: all $duration ease-in-out;
			&:hover {
				border: 1px solid $color-header-bg;
			}
		}
	}
}
