@import "../utils/variables";

/* COMPOSANT TABLE */

.table {

	margin: 3rem auto;
	width: 90%;
	transform: $transform;
	transition: all $duration ease-in-out;
	&:hover {
		box-shadow: $box-shadow-hover;
		transform: $transform-hover;
	}
	&__caption {
		margin-bottom: 1rem;
		width: 100%;
		font-family: 'robotoregular', cursive;
		font-size: 2.1rem;
		font-weight: bold;
	}
	&__head,
	&__body {

		&--title,
		&--content {
		display: flex;
    	flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		border-left: solid .1rem $color-header-bg;
		font-family: 'robotoregular', cursive;
		font-size: 1.2rem;
			@media screen and (max-width: 580px) {
				font-size: 0.9rem;
			}
			& th,
			& td {
				padding:1.3rem;
				//flex: 1 2 150px;
				width: calc(100% / 4);
				text-align: center;
				border-right: solid .1rem $color-header-bg;
				border-bottom: solid .1rem $color-header-bg;
			}
		}
		&--title {
			font-family: 'robotoregular', cursive;
			color: $color-base-bg;
			background-color: $color-btn-bg;
			border-top: solid .1rem $color-header-bg;
		}
		&--content {
			font-family: 'robotoregular', cursive;
			font-size: 1.2rem;
				@media screen and (max-width: 580px) {
				font-size: 0.9rem;
			}
		}
	}
	&__head {

	}
	&__content {

	}
}
 .table__body{
 	background-color: #FEFDA8;
 }

.overflow{
	overflow:hidden;
}

#totalMontant{
	font-weight: bold;
}

.btn__panier {
	display: flex;
	justify-content: center;
	margin-bottom: 3%;
	margin-left: 15%;
	margin-right: 15%;
	padding:2%;
	font-family: "JD Carnival Black", cursive;
	width: 70%;
	@media screen and (max-width: 600px){
		font-size: 0.8rem;
	}
}

.messagePanierVide{
	font-family: 'robotoregular';
	font-weight: bold;
	color: #F12C07;
	border: solid 3px;
	border-radius: 25%;
	font-size: 2rem;
	width: 70%;
}

#panierVide{
	display: flex;
	justify-content: center;
}
